@import url('https://rawgit.com/jonasjohansson/template/master/reset.css');

html {
	font: 24px/1.2 BlinkMacSystemFont, system-ui, -apple-system;
}

#intro {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: 40px;
	background: rgba(239, 244, 247, 0.9); /* #eff4f7; */
	color: #3c4f5d;
	transition: oapcity 2s;
}

#intro.fade-out {
	/*opacity: 0;*/
	/*pointer-events: none;*/
}

button {
	display: block;
	padding: 16px 40px;
	border: none;
	border-radius: 40px;
	outline: none;
	background: #3c4f5d;
	color: #d6ecfb;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}
