@import url('https://rawgit.com/jonasjohansson/template/master/reset.css');

html {
	font: 16px/1.425 BlinkMacSystemFont, system-ui, -apple-system;
	background: rgba(239, 244, 247, 0.9);
	color: #3c4f5d;
}

#intro {
	padding: 2rem;
}

#intro.fade-out {
	/*opacity: 0;*/
	/*pointer-events: none;*/
}

button {
	display: block;
	padding: 16px 40px;
	border: none;
	border-radius: 40px;
	outline: none;
	background: #3c4f5d;
	color: #d6ecfb;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	text-transform: uppercase;
}
